<template>
  <v-container>
    <v-layout text-xs-center wrap>
      <v-flex xs12>
        <v-timeline>
          <v-timeline-item
            v-for="message in messages"
            :key="message.id"
            :color="message.color"
            large
          >
            <template v-slot:opposite>
              <!--<span>Tus eu perfecto</span>-->
            </template>
            <v-card class="elevation-2">
              <!--<v-card-title class="headline"></v-card-title>-->
              <v-card-text>
                <span class="brown--text lighten-5">#{{message.id}} </span>
                {{message.message}}
                </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-flex>
    </v-layout>

    <v-footer class="pa-3" :fixed="true" height="70">
      <v-layout text-xs-center wrap aligin-center>
        <v-text-field label="Message" solo xs10 v-model="message"></v-text-field>
        <v-btn fab dark small color="primary" v-on:click="postMessage">
          <v-icon dark>send</v-icon>
        </v-btn>
      </v-layout>
    </v-footer>
  </v-container>
</template>

<script>
import axios from 'axios'

const request = axios.create({
  baseURL: '/api/v1',
  timeout: 5000 // request timeout
})

export default {
  data: () => ({
    messages: [
      { id: 4, message: 'aaaa' },
      { id: 3, message: 'bbbb' },
      { id: 2, message: 'cccc' },
      { id: 1, message: 'eeee' }
    ],
    message: ''
  }),
  methods: {
    async getMessages () {
      const response = await request({
        url: '/messages',
        method: 'get'
      })
      const items = response.data[0]
      const count = response.data[1]
      console.log({ count, items })
      items.forEach(item => {
        let color = 'red'
        if (item.id % 4 === 0) {
          color = 'indigo'
        } else if (item.id % 4 === 1) {
          color = 'teal'
        } else if (item.id % 4 === 2) {
          color = 'deep-orange'
        }
        item.color = color
      })

      this.messages = items
    },
    async postMessage () {
      await request({
        url: '/messages',
        method: 'post',
        data: {
          message: this.message
        }
      })
      this.getMessages()
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.getMessages()
    })
  }
}
</script>

<style>
</style>
